<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<% if @task.completed === false %>
  <p>This task is not completed yet</p>
<% else %>
  <p>Task is completed</p>
<% end %>


<br>

<%= link_to "Edit", edit_task_path %>


<%= link_to "Mark as completed", edit_task_path %>



<%= link_to "Delete item",
    destroy_task_path(@task),
    method: :delete,
    data: { confirm: "Are you sure?"} %>

<%= link_to "Home", tasks_path %>
